<app-alert></app-alert>
<br>
<div class="container p-xl mb-l">
    <div class="row mt-xl">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8 ">
            <br>
            <h1 class="mb-xl">We know you wanted to subscribe but you ended up here:-(</h1>
            <h3>MetaMask appears to be locked</h3>
            <p class="text-center">
                <img src="assets/images/lockedmetamask.png" width="40%">
            </p>

            <br>
            <p class="mb-xl">
                Please enter your Password and within a few instances you can continue. <br>
                <b>MetaMask can be found next to your browsers url bar. Its the little fox there</b>
            </p>
            <br>
            <hr>
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>
</div>