<app-alert></app-alert>
<br>
<div class="container p-xl mb-l">
    <div class="row mt-xl">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8 ">
            <br>
            <h1 class="mb-xl">We know you wanted to subscribe but you ended up here:-(</h1>
            <h3>You’ll need a safe way to subscribe with your crypto currency</h3>
            <br>
            <p class="mb-xl">
                The perfect way is with a secure wallet like MetaMask. This will act as your login to your subscriptions also (no extra password needed).
            </p>
            <br>
            <hr>
            <div class="text-center">
                <a [href]="active.url" class="btn btn-lg btn-primary">{{active.text}}</a>
            </div>

        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>
</div>