<div id="howto">
    <br>
    <br>
    <br>
    <div class="row mt-xl">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8">
            <h1>How does it work?</h1>
            <ul>
                <li>You allow the smart contract to spend your funds</li>
                <li>It is like a direct debit on the blockchain </li>
                <li>No one but you has access to the funds!</li>
                <li>You can cancel your subscription anytime <a routerLink="/">--&gt; here &lt;--</a></li>
            </ul>
            <div class="m-xl"><img src="./assets/images/howtoERC20.jpg" width="100%"></div>
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>

</div>