<div id="howto">
    <br>
    <br>
    <br>
    <div class="row mt-xl">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8">
            <h1>How does it work?</h1>
            <ul>
                <li>Your crypto is transfered from your wallet to a smart contract</li>
                <li>It is like a prepaid credit card on the blockchain </li>
                <li>On subscribing it is prefunded with {{subPlan?.iFirstMultiplier}} x the money for one payment</li>
                <li>No one but you has access to the funds!</li>
                <li>You can always transfer these funds back <a routerLink="/">--&gt; here &lt;--</a></li>
            </ul>
            <div class="m-xl"><img src="./assets/images/howto.jpg" width="100%"></div>
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>

</div>