<app-alert></app-alert>
<div class="row mt-xl" *ngIf="!isRobsten && isRobstenMode">
    <div class="col-lg-2">
        &nbsp;
    </div>
    <div class="col-lg-8 " *ngIf="!_processing">
        <br>
        <h1 class="mb-xl">Join the testnet first!</h1>
        <br>
        <p class="mb-xl">
            plase switch to robsten network to test the subscription system. <br> To do this open MetaMask, its the little fox next to your url bar
        </p>
        <p></p>
        <div class="text-center">
            <img width="250px" src="assets/images/robsten.png">
        </div>
    </div>
    <div class="col-lg-2">
        &nbsp;
    </div>
</div>
<div class="container p-xl mb-l" *ngIf="(isRobsten && isRobstenMode) || !isRobstenMode">
    <div class="row">
        <div class="col-lg-2">
            <img height="150px" src="{{subscriptionPlan?.sLogo}}">
        </div>
        <div class="col-lg-8"> &nbsp;
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>
    <hr>
    <div class="row mt-xl" *ngIf="!subscribed">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8 " *ngIf="!_processing">
            <br>
            <h1 class="mb-xl">Add Subscription</h1>
            <br>
            <!-- <div *ngIf="priceNotSet">
                <div class="row mt-xl">
                    <div class="col-lg-6">
                        Please enter for how much you would like to subscribe: {{subscriptionPlan?.sCurrencySymbol}}
                    </div>
                    <div class="col-lg-6"> &nbsp;
                    </div>
                </div>
            </div> -->
            <p class="mb-xl">
                {{subscriptionPlan?.sCompanyName}}: {{subscriptionPlan?.sSubscription}} will collect
                <span *ngIf="priceNotSet">
                    <input type="number" id="amountID"  min="1" class="intext-form-control" [(ngModel)]="price" required #amountForm="ngModel" [ngClass]="{ 'is-invalid': amountForm.invalid }" />
                </span>
                <span *ngIf="!priceNotSet">
                    {{subscriptionPlan?.iPrice | number:'1.2-2'}}
                </span> {{subscriptionPlan?.sCurrencySymbol}} (~ {{ aproxPrice | number:'1.2-2'}} {{currency}}) from your Smart Wallet on the first day of each billing period ({{subscriptionPlan?.iDaysInterval}} days).
                <br>You can access or retreive your funds at any time.
            </p>
            <p>You currently have: {{amount}} ETH on your MetaMask account</p>
            <p class="text-danger" *ngIf="amount<minAmount">You need to have some ether on your account in order to subscribe!</p>
            <br>
            <div *ngIf="isRobstenMode && amount<minAmount">
                <p class="text-danger">We are fetching ether from the Robsten Test network this might take about 30-60 seconds</p>
                <p class="text-center"> <img src="assets/images/45.gif" height="40px" width="40px" /></p>
            </div>
            <br>
            <hr>
            <div *ngIf="!_processing">
                <br>
                <div *ngIf="emailNotSet">
                    <div class="row mt-xl">
                        <div class="col-lg-6">
                            Your E-mail address:
                            <input type="text" id="emailID" class="form-control" [(ngModel)]="email" placeholder="email@domain.com" required email #emailForm="ngModel" [ngClass]="{ 'is-invalid': emailForm.invalid }" />
                        </div>

                        <div class="col-lg-6"> &nbsp;
                        </div>
                    </div>
                    <br>
                    <br> We need your email address to inform you about important events around your subscriptons and to allow you to interact with your Subscription Wallet.
                    <br>
                </div>

                <br>


                <div class="text-right">
                    <button [disabled]="amount<minAmount || !email || price<0.001" type="button" class="btn btn-primary" (click)="addSubscribtion()">Add Subscription</button>
                </div>
            </div>

        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>
    <div class="row mt-xl" *ngIf="subscribed">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8 " *ngIf="!_processing">
            <br>
            <h1 class="mb-xl">Thank you for subscribing</h1>
            <br>
            <p class="mb-xl">
                You will receive an email with your account subscripton details. Shortly you will be sent back to {{subscriptionPlan?.sCompanyName}}.
            </p>
        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>
</div>
<div *ngIf="_processing">
    <p class="text-center"> <img src="assets/images/45.gif" height="40px" width="40px" /></p>
</div>