<app-header></app-header>


<div id="wrapper">
    <app-alert></app-alert>
    <div *ngIf="!!customer">
        <div class="row">
            <div class="col-lg-5">
                <app-wallet></app-wallet>
            </div>
            <div class="col-lg-7">
                <app-activity [activities]="customer.activityList"></app-activity>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <app-sub-list [subs]="customer.subscriptionList"></app-sub-list>
            </div>
        </div>
    </div>
    <footer class="footer">
        ambrpay 2018
    </footer>
</div>