<div class="card mb-4 box-shadow" *ngIf="_processing">
    loading...
</div>


<div class="hpanel m">
    <div class="panel-heading">
        <h1> Your Funds </h1>
    </div>
    <div class="panel-body">
        <p>You have a subscription account on the blockchain. This account acts like a wallet. Only you can access these funds, you can withdraw/top up all of it anytime.</p>
        <p><strong>{{balanceWallet | number:'1.0-7'}} ETH</strong></p>
        <p>Are aviable for your subscriptions</p>
        <div>
            <button type="button" class="btn btn-primary" (click)="setShow('add','eth',null)" [disabled]="false"><i class="fa fa-plus"></i> Top Up</button>
            <button type="button" class="btn btn-primary" (click)="setShow('withdraw','eth',null)" [disabled]="false"><i class="fa fa-minus"></i> Withdraw</button>
        </div>
    </div>
    <div class="m">
        <div [hidden]="!show('withdraw')">
            <div class="form-group">
                <label for="name">Withdraw {{currency}}</label>
                <input type="number" required placeholder="How much?" class="form-control" [(ngModel)]="amountWithdraw" #amountW="ngModel" />
                <div *ngIf="(amountW?.dirty || amountW?.touched) && amountW?.errors" class="invalid-feedback">
                    <div *ngIf="amountW?.errors?.required">Amount is required</div>
                </div>
            </div>
            <button type="button" [disabled]="amountWithdraw<0" (click)="withdraw()" class="btn btn-primary  m-t-s">withdraw</button>
            <button type="button" (click)="setShow('','',null)" class="btn btn-link">cancel</button>
        </div>
        <div [hidden]="!show('add')">
            <p>On your MetaMask you currently have {{balanceLocal | number:'1.0-5'}} ETH to top up your subscription account</p>
            <div class="form-group">
                <label for="name">Top up {{currency}}</label>
                <input type="number" required placeholder="How much?" class="form-control" [(ngModel)]="amountAdd" #amountA="ngModel" />
                <div *ngIf="(amountA.dirty || amountA?.touched) && amountA?.errors" class="invalid-feedback">
                    <div *ngIf="amountA?.errors?.required">Amount is required</div>
                </div>
            </div>
            <button type="button" [disabled]="amountAdd<0" (click)="add()" class="btn btn-primary m-t-s">add</button>
            <button type="button" (click)="setShow('','',null)" class="btn btn-link">cancel</button>
        </div>
    </div>

</div>