<div class="row p-xs m-t-sm m-b-xsm" [ngClass]="{'deactivated-sub': !sub?.approved }">
    <div class="col-lg-1">
        <img class="rounded-circle m-r" height="40px" width="40px" [src]="sub.subscriptionPlan?.business?.logoSmall">
    </div>
    <div class="col-lg-3">
        <a [href]="sub.subscriptionPlan?.business?.website" target="blank">{{sub.subscriptionPlan?.business?.name}}</a>: {{sub.subscriptionPlan?.title}}
        <br> {{sub.subscriptionPlan?.price | number:'1.2-2' }} {{sub.subscriptionPlan?.currency}} per {{sub.subscriptionPlan?.interval}} days
    </div>
    <div class="col-lg-3">
        Next payment:
        <div *ngIf="sub.approved">{{sub.cycleStart | date: 'dd.MM.yy hh:mm'}}</div>
        <div *ngIf="!sub.approved">no next payment</div>
    </div>
    <div class="col-lg-4">
        this cycle payed: {{sub.withdrawnAmount | number:'1.1-4' }} {{sub.tkn?.symbol}} of max {{sub.maxAmount | number:'1.1-4' }} {{sub.tkn?.symbol}}
    </div>
    <div class="col-lg-1 ">
        <button type="button" class="btn btn-primary align-item-center" *ngIf="!sub.approved" (click)="activate()">Activate</button>
        <button type="button" class="btn btn-danger align-item-center" *ngIf="sub.approved" (click)="deactivate()">Deactivate</button>
    </div>
</div>