<app-alert></app-alert>
<br>
<div class="container p-xl mb-l">
    <div class="row mt-xl">
        <div class="col-lg-2">
            &nbsp;
        </div>
        <div class="col-lg-8 ">
            <br>
            <h1 class="mb-xl">We know you wanted to subscribe but you ended up here:-(</h1>
            <h3>You’ll need a safe way to subscribe with your crypto currency</h3>
            <br>
            <p class="mb-xl">
                The perfect way is with a secure browser like Firefox or Chrome and a wallet like MetaMask.<br> Please download Chrome or Firefox
            </p>
            <br>
            <hr>
            <div class="text-center">
                <a href="https://www.google.com/chrome/index.html" class="btn btn-lg btn-primary m">Download Chrome</a> or <a href="https://www.mozilla.org/de/firefox/download/thanks/" class="btn btn-lg btn-primary m">Download Firefox</a>
            </div>

        </div>
        <div class="col-lg-2">
            &nbsp;
        </div>
    </div>
</div>